<style>
body {
 margin: 0 auto;
 max-width: 800px;
 padding: 0 20px;
}
.container {border: 2px solid #dedede; background-color: #f1f1f1; border-radius: 5px; padding: 10px; margin: 10px 0;}
.gelap {border-color: #ccc; background-color: #ddd;}
.container::after {content: ""; clear: both; display: table;}
.container img {float: left; max-width: 60px; width: 100%; margin-right: 20px; border-radius: 50%;}
.container img.m_right {float: right; margin-left: 20px; margin-right:0;}
.right {float: right; color: #575252;}
.left {float: left; color: #3b3939;}
</style>